/* ------------------------------------------------ \*

Copyright 2021, Coding By Carson, All Rights Reserved

/* ------------------------------------------------ */
@import url(https://fonts.googleapis.com/css2?family=Arimo);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Montserrat);
/* ------------------------------------------------ */
html {
  scrollbar-color: orange black;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: orange;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
body {
  background-color: #23252f;
  animation: 1s ease-in 0s 1 fadeIn;
}
/* ------------------------------------------------ */
.navigation-contents {
  display: flex;
  font-family: "Arimo";
}
.navigation-contents a {
  color: #faac04;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  font-size: 35px;
  margin-left: 20px;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}
.navigation-contents a:hover {
  color: white;
}

.navigation-contents-socials {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}
.navigation-contents-socials a {
  margin-left: 0px;
}
/* -- */
.navigation-contents-home {
  display: flex;
  font-family: "Arimo";
  flex-direction: column;
  text-align: center;
  margin-top: 200px;
}
.navigation-contents-home a {
  color: #faac04;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 30px;
  transition: 0.3s ease-in-out;
}
.navigation-contents-home a:hover {
  color: white;
}

.navigation-contents-socials-home {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.navigation-contents-socials-home a {
  margin-left: 0px;
}
/* ------------------------------------------------ */
.about {
  font-family: "Open Sans";
  color: white;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  margin-top: 110px;
}
.about a {
  color: white;
  transition: 0.3s ease-in-out;
}
.about a:hover {
  color: #faac04;
}
/* ------------------------------------------------ */
.projects {
  padding: 5px;
}
.project1 {
  font-family: "Open Sans";
  color: white;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  margin-top: 20px;
}
.project-button {
  background-color: black;
  border: none;
  color: #faac04;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15%;
  transition: 0.3s ease-in-out;
}
.project-button:hover {
  transform: scale(1.1);
}
.project2 {
  font-family: "Open Sans";
  color: white;
  text-align: center;
  margin-top: 80px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
}
.project3 {
  font-family: "Open Sans";
  color: white;
  text-align: center;
  margin-top: 80px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
}
.project4 {
  font-family: "Open Sans";
  color: white;
  text-align: center;
  margin-top: 80px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
}
/* ------------------------------------------------ */
.skills1 {
  font-family: "Montserrat";
  display: flex;
  margin: 20px;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
  align-items: center;
}
.skills2 {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  justify-content: space-evenly;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
  align-items: center;
}
.skill1 {
  background-color: black;
  color: #faac04;
  font-size: 35px;
  padding: 20px;
  border-radius: 0%;
  cursor: default;
  transition: 0.3s ease-in-out;
  width: 341px;
  text-align: center;
}
.skill1:hover {
  transform: scale(1.1);
}
.skill2 {
  background-color: black;
  color: #faac04;
  font-size: 35px;
  padding: 20px;
  border-radius: 0%;
  cursor: default;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
  text-align: center;
  width: 341px;
}
.skill2:hover {
  transform: scale(1.1);
}
.skill3 {
  background-color: black;
  color: #faac04;
  font-size: 35px;
  padding: 20px;
  border-radius: 0%;
  cursor: default;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
  text-align: center;
  width: 341px;
}
.skill3:hover {
  transform: scale(1.1);
}
.skill4 {
  background-color: black;
  color: #faac04;
  font-size: 35px;
  padding: 20px;
  border-radius: 0%;
  cursor: default;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
  text-align: center;
  width: 341px;
}
.skill4:hover {
  transform: scale(1.1);
}
.skill5 {
  background-color: black;
  color: #faac04;
  font-size: 35px;
  padding: 20px;
  border-radius: 0%;
  cursor: default;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
  text-align: center;
  width: 341px;
}
.skill5:hover {
  transform: scale(1.1);
}
/* ------------------------------------------------ */
@media screen and (max-width: 600px) {
  .navigation-contents {
    display: flex;
    flex-direction: column;
    font-family: "Arimo";
  }
  .navigation-contents-home {
    display: flex;
    flex-direction: column;
    font-family: "Arimo";
    margin-top: 30px;
  }
  .about a {
    font-size: 20px;
  }
}
