@import url(https://fonts.googleapis.com/css2?family=Arimo);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans);
@import url(https://fonts.googleapis.com/css2?family=Montserrat);

/* ------------------------------------------------ */
html {
  scrollbar-color: orange black;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: orange;
}
body {
  background-color: #23252f;
}
/* ------------------------------------------------ */
.navigation-contents {
  display: flex;
  font-family: "Arimo";
}
.navigation-contents a {
  color: #faac04;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  font-size: 35px;
  margin-left: 20px;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}
.navigation-contents a:hover {
  color: white;
}

.navigation-contents-socials {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}
.navigation-contents-socials a {
  margin-left: 0px;
}
/* ------------------------------------------------ */
.about {
  font-family: "Open Sans";
  color: white;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  margin-top: 110px;
}
.about a {
  color: white;
  transition: 0.3s ease-in-out;
}
.about a:hover {
  color: #faac04;
}
/* ------------------------------------------------ */
.projects {
  padding: 5px;
}
.project1 {
  font-family: "Open Sans";
  color: white;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  margin-top: 20px;
}
.project-button {
  background-color: black;
  border: none;
  color: #faac04;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15%;
  transition: 0.3s ease-in-out;
}
.project-button:hover {
  scale: 1.1;
}
.project2 {
  font-family: "Open Sans";
  color: white;
  text-align: center;
  margin-top: 80px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
}
.project3 {
  font-family: "Open Sans";
  color: white;
  text-align: center;
  margin-top: 80px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
}
/* ------------------------------------------------ */
.skills1 {
  font-family: "Montserrat";
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
}
.skills2 {
  font-family: "Montserrat";
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
}
.skill1 {
  background-color: black;
  color: #faac04;
  font-size: 35px;
  padding: 10px;
  border-radius: 5%;
  cursor: default;
}
.skill2 {
  background-color: black;
  color: #faac04;
  font-size: 35px;
  padding: 10px;
  border-radius: 5%;
  cursor: default;
}
.skill3 {
  background-color: black;
  color: #faac04;
  font-size: 35px;
  padding: 10px;
  border-radius: 5%;
  cursor: default;
}
.skill4 {
  background-color: black;
  color: #faac04;
  font-size: 35px;
  padding: 10px;
  border-radius: 5%;
  cursor: default;
}
.skill5 {
  background-color: black;
  color: #faac04;
  font-size: 35px;
  padding: 10px;
  border-radius: 5%;
  cursor: default;
}
/* ------------------------------------------------ */
@media screen and (max-width: 600px) {
  .navigation-contents {
    display: flex;
    flex-direction: column;
    font-family: "Arimo";
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 0%;
  }
  .skill1 {
    margin-top: 10px;
  }
  .skill2 {
    margin-top: 10px;
  }
  .skill3 {
    margin-top: 10px;
  }
  .skill4 {
    margin-top: 10px;
  }
  .skill5 {
    margin-top: 10px;
  }
}
